<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.smartoneprinter" version="0.1.0" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>SmartOnePrinter</name>
<js-module name="SmartOnePrinter" src="www/SmartOnePrinter.js">
<clobbers target="smartOnePrinter" />
</js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="SmartOnePrinter">
<param name="android-package" value="cordova.plugin.smartoneprinter.SmartOnePrinter" />
<param name="onload" value="true" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml">
</config-file>
<source-file src="src/android/SmartOnePrinter.java" target-dir="src/cordova/plugin/smartoneprinter/SmartOnePrinter" />
<source-file src="src/android/ByteOrder.java" target-dir="src/cordova/plugin/smartoneprinter/ByteOrder" />
<source-file src="src/android/Order.java" target-dir="src/cordova/plugin/smartoneprinter/Order" />
<source-file src="src/android/PrinterStatusReceiver.java" target-dir="src/cordova/plugin/smartoneprinter/PrinterStatusReceiver" />
<source-file src="src/android/utils/HandlerUtils.java" target-dir="src/cordova/plugin/smartoneprinter/utils/HandlerUtils" />

<source-file src="src/android/libs/armeabi/libsystem_util.so" target-dir="app/src/main/jniLibs/armeabi/" />
<source-file src="src/android/libs/armeabi/libcommon_printer.so" target-dir="app/src/main/jniLibs/armeabi/" />
<source-file src="src/android/libs/armeabi/libcommon_printer_48.so" target-dir="app/src/main/jniLibs/armeabi/" />
<source-file src="src/android/libs/armeabi/libcommon_printer_581.so" target-dir="app/src/main/jniLibs/armeabi/" />
<source-file src="src/android/libs/armeabi/libcommon_serial.so" target-dir="app/src/main/jniLibs/armeabi/" />
<source-file src="src/android/libs/armeabi/libAlUSB.so" target-dir="app/src/main/jniLibs/armeabi/" />
<source-file src="src/android/libs/armeabi/libusb_util.so" target-dir="app/src/main/jniLibs/armeabi/" />
<source-file src="src/android/libs/armeabi/libserial_port.so" target-dir="app/src/main/jniLibs/armeabi/" />
<source-file src="src/android/libs/armeabi/libdecode.so" target-dir="app/src/main/jniLibs/armeabi/" />
 <!-- <source-file src="src/android/libs/armeabi-v7a/libsystem_util.so" target-dir="app/src/main/jniLibs/armeabi-v7a/" />
 <source-file src="src/android/libs/arm64-v8a/libsystem_util.so" target-dir="app/src/main/jniLibs/arm64-v8a/" /> -->

<lib-file src="src/android/libs/escpos_20200102_common.jar" />
<lib-file src="src/android/libs/core-3_3.jar" />

<!-- <lib-file src="src/android/libs/android-support-v4.jar" /> -->
</platform>
</plugin>