<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova.plugin.smartoneprinter" version="0.1.0" 
xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android">
<name>SmartOnePrinter</name>
<js-module name="SmartOnePrinter" src="www/SmartOnePrinter.js">
<clobbers target="smartOnePrinter" />
</js-module>
<platform name="android">
<config-file parent="/*" target="res/xml/config.xml">
<feature name="SmartOnePrinter">
<param name="android-package" value="cordova.plugin.smartoneprinter.SmartOnePrinter" />
<param name="onload" value="true" />
</feature>
</config-file>
<config-file parent="/*" target="AndroidManifest.xml">
</config-file>
<provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
<source-file src="src/android/SmartOnePrinter.java" target-dir="src/cordova/plugin/smartoneprinter/SmartOnePrinter" />
<source-file src="src/android/ByteOrder.java" target-dir="src/cordova/plugin/smartoneprinter/ByteOrder" />
<source-file src="src/android/PrinterData.java" target-dir="src/cordova/plugin/smartoneprinter/PrinterData" />
<source-file src="src/android/Utils.java" target-dir="src/cordova/plugin/smartoneprinter/Utils" />
<source-file src="src/android/Order.java" target-dir="src/cordova/plugin/smartoneprinter/Order" />
<source-file src="src/android/PrinterStatusReceiver.java" target-dir="src/cordova/plugin/smartoneprinter/PrinterStatusReceiver" />
<source-file src="src/android/utils/ByteUtil.java" target-dir="src/cordova/plugin/smartoneprinter/utils/ByteUtil" />
<source-file src="src/android/utils/HandlerUtils.java" target-dir="src/cordova/plugin/smartoneprinter/utils/HandlerUtils" />

<lib-file src="src/android/libs/onelib.aar" />
<framework src="src/android/onelib.gradle" custom="true" type="gradleReference" />

</platform>
</plugin>